<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<div>
  <table border="3">
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birth Year</th>
      <th>Roles</th>
      <th></th>
      <th></th>
    </tr>

    <tr th:each="u : ${users}">
      <td th:utext="${u.username}">username</td>
      <td th:utext="${u.firstName}">firstName</td>
      <td th:utext="${u.lastName}">lastName</td>
      <td th:utext="${u.yearOfBirth}">yearOfBirth</td>
      <td th:utext="${u.rolesString}">roles</td>

      <td><a th:href="@{/admin/users/edit/{id}(id=${u.id})}">Edit</a></td>
      <td>
        <form th:method="DELETE" th:action="@{/admin/users/delete/{id}(id=${u.id})}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
  </table>

  <br/>
  <form th:method="POST" th:action="@{/admin/users/add_user}" th:object="${user}">
    <label for="username"> Enter new username: </label>
    <br/>
    <input type="text" th:field="*{username}" id="username"/>
    <span style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
      Invalid username
    </span>
    <br/>

    <label for="password" > Enter new password: </label>
    <br/>
    <input type="password" th:field="*{password}" id="password"/>
    <span style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
      Invalid password
    </span>
    <br/>

    <label for="firstName"> Enter new first name: </label>
    <br/>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <span style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
      Invalid firstName
    </span>
    <br/>

    <label for="lastName"> Enter new last name: </label>
    <br/>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <span style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
      Invalid lastName
    </span>
    <br/>

    <label for="yearOfBirth"> Enter new year of birth: </label>
    <br/>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <span style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">
      Invalid yearOfBirth
    </span>
    <br/>

    <label>Roles:
      <input type="checkbox" name="roles"
             th:each="r : ${roles}"
             th:text="${r.name}"
             th:value="${r.id}"
             th:field="*{roles}"
      />
    </label>
    <span style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">
      Invalid roles
    </span>
    <br/>

    <input type="submit" value="Add user">
    <br/>
  </form>

  <a href="/logout">Logout</a>
</div>
</body>
</html>