<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title th:text="${user.username}"></title>
</head>
<body>
<div>
  <form th:method="PATCH" th:action="@{/admin/users/edit}" th:object="${user}">
    <input type="hidden" th:field="*{id}" th:value="*{id}"/>
    <br/>

    <label for="username"> Enter new username: </label>
    <br/>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
      Invalid username
    </div>
    <br/>

    <label for="password" > Enter new password: </label>
    <br/>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
      Invalid password
    </div>
    <br/>

    <label for="firstName"> Enter new first name: </label>
    <br/>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
      Invalid firstName
    </div>
    <br/>

    <label for="lastName"> Enter new last name: </label>
    <br/>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
      Invalid lastName
    </div>
    <br/>

    <label for="yearOfBirth"> Enter new year of birth: </label>
    <br/>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">
      Invalid yearOfBirth
    </div>
    <br/>

    <label>Roles:
      <input type="checkbox" name="roles"
             th:each="r : ${roles}"
             th:text="${r.name}"
             th:value="${r.id}"
             th:field="*{roles}"
      />
    </label>
    <div style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">
      Invalid roles
    </div>
    <br/>

    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>